@using UIDemos.Helpers
@model UIDemos.Models.Contact
@{
	ViewBag.Title = "Contact Page";
}

<br /><br /><br />

@using (Html.BeginPanel("Contact"))
{
    using (Html.BeginForm())
    {
	    using (Html.BeginRow())
        {
            @Html.TextEditBlockFor(m => m.FirstName, "col-md-2")
            @Html.TextEditBlockFor(m => m.LastName, "col-md-2")
            @Html.TextEditBlockFor(m => m.Birthday, "col-md-2")
        }

        using (Html.BeginRow())
        {
            @Html.TextEditBlockFor(m => m.Address1, "col-md-4")
        }

        using (Html.BeginRow())
        {
            @Html.TextEditBlockFor(m => m.City, "col-md-2")
            @Html.DropDownBlockFor(m => m.State, Model.States, "col-md-2")
            @Html.TextEditBlockFor(m => m.ZipCode, "col-md-2")
        }

        using (Html.BeginRow())
        {
            @Html.TextEditBlockFor(m => m.Email, "col-md-4")
        }

        using (Html.BeginRow())
        {
		    <div class="col-md-12">
			    <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
        }
    }
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
